* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.General {
  background: url(../../../public/Images/pokemonFondo.png) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  position: absolute;
}

.register {
  width: 320px;
  height: 460px;
  padding: 20px;
  margin: auto;
  top: 50%;
    left: 50%;
  border-radius: 5px;
  margin-top: 100px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.6);
  position: center;
  background-color: rgba(0, 0, 0, 0.95);
}

.avatar {
  width: 150px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: calc(50% - 75px);
}

.register__titulo {
  text-align: center;
  margin-top: 0px;
  color: rgb(255, 255, 255);
}

p {
  text-align: center;
  margin-top: 0;
  color: rgb(255, 255, 255);
  padding-bottom: 15px;
}

.register__input,
.register_label,
.register__submit {
  width: 100%;
  font-size: 20px;
}

.register__input {
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 15px;
  border-bottom: 2px solid rgb(255, 255, 255);
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  margin-bottom: 40px;
}

.register__input:focus {
  outline: 1px solid rgba(255, 255, 255, 0);
}
.register__input:focus + .register__label {
}
.register__label {
  color: rgb(255, 255, 255);
}

.register__submit {
  background-color: #b80f22;
  border-radius: 20px;
  font-size: 20px;
  height: 40px;
  width: 200px;
  margin-left: 35px;
  color: white;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  outline: none;
}
