* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.General3{
        background: url(../../../public/Images/pokemonFondo.png) no-repeat center top;
        background-size: cover;
        font-family: sans-serif;
        width: 100%;
        
        position: absolute;
}

.formulario {
    width: 400px;
    height: 100%;
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    position: center;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.95);
}

.formulario__titulo {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.formulario__input,
.formulario__submit {
width: 100%;
font-size: 15px;
text-align: center;
}

.formulario__input {
padding: 20px;
background: rgba(0, 0, 0, 0.2);
border-bottom: 2px solid rgb(255, 255, 255);
border-top: 0px;
border-right: 0px;
border-left: 0px;
margin-bottom: 40px;
color: white;
}

.formulario__input:focus {
    outline: 1px solid rgba(255, 255, 255, 0);
}

.formulario__submit {
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    background-color: #b80f22;
    color:  white;
    font-size: 18px;
    border-radius: 20px;
}

.H3Type{
    color: white;
    font-size: medium;
    margin: 20px;
}

.Selectformulario{
    background-color: #b80f22;
    color: white;
    font-size: medium;
    text-align: center;
    border: none;
    border-radius: 20px;
    width: 50%;
    height: 30px;
    margin-bottom: 20px

}

.type_form {
    text-align: center;
}